$header-padding: 16px;
$size-logo: 32px;
$font-size-logo: 12px;
$font-weight-logo: 700;
$gap-header: 16px;
$gap-footer: 32px;
$gap-logo: 8px;
$footer-color: #8B48D7;

$padding-body: 13px;
$padding-form: 16px;

$text-color-default: rgba(47, 52, 146, 1);
$text-color-footer: rgba(255, 255, 255, 1);


